@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1f1f1f;
}

table,
th,
td {
  border-width: 2px;
  border-radius: 20px;
  padding: 10px;
}